<div class='mt-4'>
    <h3>Chỉnh sửa khoá học</h3>
    <form method="post" action="/courses/{{course._id}}?_method=put">
        <div class='mb-3'>
            <label for='name' class='form-label'>Tên khoá học</label>
            <input type='text' class='form-control' id='name' name="name" value="{{course.name}}"/>
        </div>
        <div class='mb-3'>
            <label for='description' class='form-label'>
                Mô tả khoá học
            </label>
            <textarea class='form-control' id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class='mb-3'>
            <label
                for='videoId'
                class='form-label'
            >
                VideoId
            </label>
            <input type='text' class='form-control' id='videoId' name="videoId" value="{{course.videoId}}"/>
        </div>
        <button type='submit' class='btn btn-primary'>Update</button>
    </form>
</div>